
.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f4f7f9;
}

form{
    background: white;
    padding: 50px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-size: 20px;
    margin-bottom: 4px;
}

.form-check{
    margin-bottom: 20px;
}

.form-check label{
    font-size: 20px;
    margin-bottom: 4px;
}

.button-submit{
    width: 100%;
    padding: 14px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.button-submit:disabled{
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;     
    transform: none;
}

.error{
    color: red;
}