
.cities-container{
    background-color: #f4f7f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;   
}

.cities{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 7px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}



